.display {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.display.Weak {
  background-color: #FF6961;
}
.display.Moderate {
  background-color: #FFB54C;
}
.display.Strong {
  background-color: #7ABD7E;
}

.passwordDisplayInput {
  background-color: inherit;
  border: none !important;
  outline: none !important;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .display {
    flex-direction: column;
  }
}

/* buttons */

.iconButton {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: white;
  outline: none !important;
}

.iconButton:hover {
  color: black;
}

.iconButton:active {
  color: white;
}

.copyButton {
  width: 50%;
  min-height: 30%;
  font-size: 1.2em;
  color: #0075ff;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 5px 10px 18px rgba(0,117,255,0.1) inset; */
  align-self: center;
}

.copyButton:hover {
  box-shadow: none;
  font-weight: bold;
}

.copyButton:active {
  font-weight: unset;
}