.display {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.display.Weak {
  background-color: #FF6961;
}
.display.Moderate {
  background-color: #FFB54C;
}
.display.Strong {
  background-color: #7ABD7E;
}

.passwordDisplayInput {
  background-color: inherit;
  border: none !important;
  outline: none !important;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .display {
    flex-direction: column;
  }
}


.iconButton {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: white;
  outline: none !important;
}

.iconButton:hover {
  color: black;
}

.iconButton:active {
  color: white;
}
